

<div class="navbar navbar-default navbar-authenticated navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#products">
            <span>Shopping App</span>
        </a>
    </div>
    <div class="navbar-collapse collapse">    
        <ul class="nav navbar-nav navbar-right">
            
            <li>
                <a href="#cart" class="shell-cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="logged-in-as">Cart</span>
                    <span id="cartList" class="badge"></span>
                </a>
            </li>
            
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- 
# Container 
# Page content gets loaded here
-->
<div class="container">
    <div class="page" id="page">
        <!--
        # View
        # Views get loaded into 'content' then the view template would contain the following ...
        -->
        <!-- End View Container -->
    </div>
</div>
